.fancy-header {
    color: purple;
    text-decoration: underline;
}

html {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

h2 {
    color: magenta;
    text-decoration: underline;
}

