.fancy-header {
    color: purple;
    text-decoration: underline;
}

html {
    background-color: yellow;
    /*background-image: url("../media/wall-texture.jpg");*/
}

body {
    background-image: url("../media/wall-texture.jpg");
    /*background-position: left;*/
    background-size: 5% 25%;
}

h1 {
    text-align: center;
}

h2 {
    color: magenta;
    text-decoration: underline;
}

