.fancy-header {
    color: purple;
    text-decoration: underline;
}

@font-face {
    font-family: "customFont1";
    src: url("../font/Agbalumo/Agbalumo-Regular.ttf");
}

html {
    background-color: yellow;
    /*background-image: url("../media/wall-texture.jpg");*/
}

body {
    background-image: url("../media/wall-texture.jpg");
    /*background-position: left;*/
    background-size: 5% 25%;
    font-family: "customFont1", sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    color: magenta;
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    border: 2px solid black;
    font-size: 1.5em;
    padding: 10px;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 5px 10px 5px 10px;
}